<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="saga.design.Activator"
               id="saga.design"
	       name="saga">
    </component>
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="contexts.xml">
     </contexts>
  </extension>
   <extension
      id="saga.event.start"
      name="event start"
      point="org.eclipse.sirius.diagram.customBundledImageShape">
    <image imagePath="/saga.design/images/event_start.svg" label="saga.event.start">
      <borderColorIdentifier borderColorIdentifier="shape"></borderColorIdentifier>
      <borderColorAttribute borderColorAttribute="stroke"></borderColorAttribute>
      <borderSizeIdentifier borderSizeIdentifier="shape"></borderSizeIdentifier>
      <borderSizeAttribute borderSizeAttribute="stroke-width"></borderSizeAttribute>
    </image>
  </extension>
   <extension
         id="saga.task"
         name="task"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/task_800_250.svg"
            label="saga.task">
      </image>
   </extension>
   <extension
         id="saga.event.end"
         name="even end"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/event_end.svg"
            label="saga.event.end">
      </image>
   </extension>
   <extension
         id="saga.arch.interface"
         name="arch interface"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/interface.svg"
            label="saga.arch.interface">
      </image>
   </extension>
   <extension
         id="saga.arch.component"
         name="arch component"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/component_800_250.svg"
            label="saga.arch.component">
      </image>
   </extension>
   <extension
         id="saga.saga.saga"
         name="saga saga"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/saga.svg"
            label="saga.saga.saga">
      </image>
   </extension>
   <extension
         id="saga.arch.interface_mirrored"
         name="arch interface mirrored"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/interface_mirrored.svg"
            label="saga.arch.interface_mirrored">
      </image>
   </extension>
   <extension
         id="saga.process.lane"
         name="process lane"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/lane.svg"
            label="saga.process.lane">
      </image>
   </extension>
   <extension
         id="saga.design.postModelAction"
         name="saga.design.postModelAction"
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="saga.design.actions.SendToBackendAction"
            id="saga.design.postModelAction">
      </javaActions>
   </extension>
   <extension
         id="saga.process.event.boundary.compensate"
         name="boundary event compensate"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/event_boundary_compensate.svg"
            label="saga.process.event.boundary.compensate">
      </image>
   </extension>
   <extension
         id="saga.process.event.boundary.throw"
         name="boundary event throw"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/event_boundary_throw.svg"
            label="saga.process.event.boundary.throw">
      </image>
   </extension>
   <extension
         id="saga.process.event.intermediate.compensate"
         name="intermediate compensate event"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/event_intermediate_compensate.svg"
            label="saga.process.event.intermediate.compensate">
      </image>
   </extension>
   <extension
         id="saga.slo.single"
         name="single slo"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/slo.svg"
            label="saga.slo.single">
      </image>
   </extension>
   <extension
         id="saga.compensationtask"
         name="compensationtask"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/compensation_task_800_250.svg"
            label="saga.compensationtask">
      </image>
   </extension>
   <extension
         id="saga.process.transaction"
         name="transaction"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/transaction.svg"
            label="saga.process.transaction">
      </image>
   </extension>
   <extension
         id="saga.process.transaction2"
         name="transaction2"
         point="org.eclipse.sirius.diagram.customBundledImageShape">
      <image
            imagePath="/saga.design/images/transaction2.svg"
            label="saga.process.transaction2">
      </image>
   </extension>
</plugin>
