<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gropius -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.unistuttgart.gropius.presentation.GropiusModelWizardID"
            name="%_UI_GropiusModelWizard_label"
            class="de.unistuttgart.gropius.presentation.GropiusModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GropiusModelFile.gif">
         <description>%_UI_GropiusModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gropius -->
      <editor
            id="de.unistuttgart.gropius.presentation.GropiusEditorID"
            name="%_UI_GropiusEditor_label"
            icon="icons/full/obj16/GropiusModelFile.gif"
            extensions="gropius"
            class="de.unistuttgart.gropius.presentation.GropiusEditor"
            contributorClass="de.unistuttgart.gropius.presentation.GropiusActionBarContributor">
      </editor>
   </extension>

</plugin>
