<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated impact -->
      <package
            uri="http://www.example.org/impact"
            class="de.unistuttgart.ma.impact.ImpactPackage"
            genModel="model/impact.genmodel"/>
   </extension>

</plugin>
