<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated slo -->
      <package
            uri="http://www.example.org/slo"
            class="de.unistuttgart.gropius.slo.SloPackage"/>
   </extension>

</plugin>
